
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, rgb(163, 185, 240)0%, rgb(35, 196, 196)100%);
}
.inputcolor{
    padding: 3;
    background-color:lightblue;
    border: green;
}
.two{
    text-shadow: lightgreen;
    text-align: center;
}
.three{
    padding: 10;
     
    margin: 10;
}
.one{
text-align: center;

}
.carre{
    background:lightseagreen;
    display: inline-block;
    border: 3px;
    margin: 2px;
    padding: 3px;
    grid-row: unset;
}